.container {
  max-width: 1200px;
  display: flex;
  padding: 20px;
}
.list{
  list-style: none;
  margin-left: 3px;
  width: 30%;
  border: 1px solid gray;
  padding: 15px;
}

li{
  margin: 10px;
  border: 1px solid blue;
  padding: 10px;
}

li:hover{
  margin-left: 0;
  border: 2px solid gray;
}

